
/* Modular Scale 
 * https://www.modularscale.com/?16&px&1.618 
 */

:root {
  --primary-0: #12315F; /* Main Primary color */
  --primary-1: #3C5B8A;
  --primary-2: #244474;
  --primary-3: #061F46;
  --primary-4: #02122B;
  --secondary-0: #B3C4DD;
}

html {
  
}

body {

}

header {
  display: block;
  box-sizing: border-box;
  margin: auto;
  background-color: #c2c2c2;
}

header ul {
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
  background-color:var(--primary-3);
}

header li {
  float:left;
}

header a {
  display: block;
  color:#ffffff;
  text-align: center;
  padding: 1em;
  text-decoration: none;
}

header li:hover {
  background-color: var(--primary-4);
}

.wide-pic-section {
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 100%;
}

.wide-pic {
  width: 100%;
}

.text-block-section {
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  padding: 1.5em;
  background-color: var(--primary-1);
  color:var(--primary-4);
}

.text-block-section p {
  font-size: 1em;
}

#about-title {
 font-weight: bold;
}

input {
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 90%;
  margin-top: 1em;
  padding: .6em;
  font-size: 1em; /* 16px */
  border: none;
  border-radius: 0.3em;
  -webkit-appearance: none;
}

input {
  background-color: #dfdfdf;
}

input[type=button] {
  background-color: var(--primary-0);
  color: #ffffff;
}

input[type=button]:hover {
  background-color:var(--primary-1);
}

#site-page-box-section {
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  background-color: var(--primary-3);
}

.site-page-box {
  display: block;
  box-sizing: border-box;
  margin: auto;
  position: relative;
  width: 100%;
  background-size: cover;
  background-color: aquamarine;
}

.site-page-box:hover {
  
}

.site-page-box-img {
  box-sizing: border-box;
  width:100%;
}

.site-page-box p {
  display: block;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
  font-size: 2em;
  text-align: center;
  position: absolute;
  width: 100%;
  height:100%;
  transform: translate(0%, -50%);
  color:#ffffff;
}

footer {
  display: block;
  box-sizing: border-box;
  margin: auto;
  margin-top: 1em;
  text-align: center;
  padding:1em;
} 

