
/* 
 * MODULAR SCALE - Golden Section
 * https://www.modularscale.com/?16&px&1.618 
 *
 
 *
 * FONTS
 * Body:
 * font-family: 'Barlow', sans-serif;
 * Title:
 * font-family: 'DM Serif Display', serif;
 *

 *
 * COLROR SCHEME 
 * --primary-0: #12315F;
 * --primary-1: #3C5B8A;
 * --primary-2: #244474;
 * --primary-3: #061F46;
 * --primary-4: #02122B;
 * --secondary-0: #B3C4DD; 
 *
 */


/* GENERAL */
html {
  line-height: 1.2em;
  font-family: 'Barlow', sans-serif;
  font-size: 16px; 
}

body {
  background-color: #B3C4DD;
  color:#3C5B8A;
}

/* HEADER */

header {
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  background-color: #02122B;
}

#logo {
  width: 100%;
  height: 4.236em;
  background-color: #061F46;
  padding: 0.382em;
}

#logo img {
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 4.236em;
  height: 4.236em;
  float: left;
}

h1 {
  font-size: 1.618em;
  color: #ffffff;
  text-align: center;
  height: 4.236em;
  margin-top: .2em;
}

header ul {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  font-size: 1.08em;
}

header li {
  float: left;
}

header a {
  display: block;
  color:#ffffff;
  text-align: center;
  text-decoration: none;
  padding: 1em;
}

header li:hover {
  background-color: #12315F;
}

#navigation img {
  margin: auto;
  display: block;
  box-sizing: border-box;
  width: 1.618em;
}

.social a {
  padding: .6em;
}

/* WIDE PICTURE */

.wide-pic-section {
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 100%;
}

.wide-pic {
  width: 100%;
}

/* TEXT BLOCK */

.text-block-section {
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 90%;
  padding: 1.618em;
  background-color: #eaebee;
  margin-top: 1em;
}

.text-block-section p {
  font-size: 1.618em;
}

#about-title {
 font-weight: bold;
 text-align: center;
}

/* FORM */

form {
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 100%;
}

label {
  display: block;
  box-sizing: border-box;
  margin:auto;
  width: 90%;
  margin-top: 1em; /* 16px */
  font-size: 1em; /* 16px */
}

input {
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 90%;
  margin-top: 1em;
  padding: .6em;
  font-size: 1em; /* 16px */
  border: none;
  border-radius: 0.3em;
  -webkit-appearance: none;
  color: #061F46;
}

input {
  background-color: #eaebee;
}

input[type=button] {
  background-color: #12315F;
  color: #ffffff;
  font-family: 'DM Serif Display', serif;
  font-weight: bold;
  letter-spacing: 0.09em;
}

input[type=button]:hover {
  background-color:#3C5B8A;
}

/* HOME - LINKS TO PAGES */

#site-page-box-section {
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: .5em;
  background-color: #4f6fa0;
}

#site-page-box-section a {
  text-decoration: none;
}

.site-page-box {
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 90%;
  margin-bottom: 1em;
  background-color: #244474;
}

.site-page-box:hover {
  background-color: #061F46;
}

.site-page-box p {
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  font-family: 'DM Serif Display', serif;
  color:#ffffff;
  font-size: 2em;
  text-align: center;
  padding: 1em;
}

/* FOOTER */

footer {
  display: block;
  box-sizing: border-box;
  margin: auto;
  text-align: center;
  margin-top: 1em;
  padding: 2em;
  color: #244474;
} 

/* MEDIA QUERIES */


/* Tablet */
@media only screen and (min-width: 768px) {
  body {
    font-size: 1em;
  }

  h1 {
    margin-top: .6em;
    margin-left: 3em;
    text-align: left;
  }

  .site-page-box {
    width:70%;
  }

  #about-title {
    width: 70%;
  }

  input {
    width:70%;
  }

  label {
    width:70%;
  }

  #submit_contact {
    width:30%;
  }
}

/* Laptop/Desktop */
@media only screen and (min-width: 1025px) {
  body {
    font-size: .9em;
  }

  h1 {
    margin-left: 3em;
  }

  .wide-pic-section {
    height: 40em;
    overflow: hidden;
  }

  .wide-pic {
    max-width: initial;
  }

  #site-page-box-section {
    padding-bottom: 1.6em;
  }

  #site-page-box-section a {
    display: inline-block;
    box-sizing: border-box;
    margin: auto;
    width: 33.15%;
    height: 14em;
  }

  .site-page-box {
    width: 90%;
    height: 12em;
    padding-top: 4em;
    margin-top: 1em;
  }

  .site-page-box p {
    font-size: 3em;
    padding: 0;
  }

  #about-title {
    width: 50em;
  }

  form {
    display: block;
    box-sizing: border-box;
    margin: auto;
    width: 50em;
  }

  input {
    width: 30em;
    font-size: 1.15em;
  }

  label {
    width: 12em;
    float: left;
    font-size: 1.15em;
  }

  #submit_contact {
    width: 8em;
    float: right;
    margin-right: 1em;
  }
}