
/* 
 * MODULAR SCALE - Golden Section
 * https://www.modularscale.com/?16&px&1.618 
 *
 
 *
 * FONTS
 * Body:
 * font-family: 'Barlow', sans-serif;
 * Title:
 * font-family: 'DM Serif Display', serif;
 *

 *
 * COLROR SCHEME 
 * --primary-0: #12315F;
 * --primary-1: #3C5B8A;
 * --primary-2: #244474;
 * --primary-3: #061F46;
 * --primary-4: #02122B;
 * --secondary-0: #B3C4DD; 
 *
 */


/* GENERAL */
html {
  line-height: 1.2em;
  font-family: 'Barlow', sans-serif;
  font-size: 16px; 
}

body {
  background-color: #B3C4DD;
  color:#3C5B8A;
}

/* HEADER */

header {
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  background-color: #02122B;
  padding: 0.382em;
}

#logo {
  width: 100%;
  height: 4.236em;
  background-color: #061F46;
}

#logo img {
  display: block;
  box-sizing: border-box;
  margin: auto;
  width:4.236em;
  height:4.236em;
  float:left;
}

h1 {
  font-size: 1.618em;
  color: #ffffff;
  text-align: center;
  height: 4.236em;
}

header ul {
  display: block;
  box-sizing: border-box;
  margin:0;
  padding:0;
  list-style-type: none;
  overflow: hidden;
}

header li {
  float:left;
}

header a {
  display: block;
  color:#ffffff;
  text-align: center;
  padding: 1em;
  text-decoration: none;
}

header li:hover {
  background-color: #12315F;
}

#navigation img {
  margin: auto;
  display: block;
  width: 1.618em;
  float: right;
  padding: 0em;
}

/* WIDE PICTURE */

.wide-pic-section {
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 100%;
}

.wide-pic {
  width: 100%;
}

/* TEXT BLOCK */

.text-block-section {
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 90%;
  padding: 1.618em;
  background-color: #eaebee;
  margin-top: 1em;
}

.text-block-section p {
  font-size: 1.618em;
}

#about-title {
 font-weight: bold;
 text-align: center;
}

/* FORM */

form {
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 100%;
}

label {
  display: block;
  box-sizing: border-box;
  margin:auto;
  width: 90%;
  margin-top: 1em; /* 16px */
  font-size: 1em; /* 16px */
}

input {
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 90%;
  margin-top: 1em;
  padding: .6em;
  font-size: 1em; /* 16px */
  border: none;
  border-radius: 0.3em;
  -webkit-appearance: none;
  color: #061F46;
}

input {
  background-color: #eaebee;
}

input[type=button] {
  background-color: #12315F;
  color: #ffffff;
  font-family: 'DM Serif Display', serif;
  font-weight: bold;
  letter-spacing: 0.09em;
}

input[type=button]:hover {
  background-color:#3C5B8A;
}

/* HOME - LINKS TO PAGES */
#site-page-box-section {
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  margin-top: 1em;
}

#site-page-box-section a {
  text-decoration: none;
}

.site-page-box {
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 90%;
  margin-bottom: 1em;
  background-color: #244474;
}

.site-page-box:hover {
  background-color: #061F46;
}

.site-page-box p {
  display: block;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
  width: 100%;
  height: 100%;
  font-family: 'DM Serif Display', serif;
  color:#ffffff;
  font-size: 2em;
  text-align: center;
}

/* FOOTER */

footer {
  display: block;
  box-sizing: border-box;
  margin: auto;
  margin-top: 1em;
  text-align: center;
  padding:1em;
  color: #244474;
} 

/* MEDIA QUERIES */

/* Tablet */
@media only screen and (min-width: 768px) {

}

/* Laptop/Desktop */
@media only screen and (min-width: 1025px) {
  
}
